<template>
    <v-dialog v-model="dialog" max-width="500px">
        <template v-slot:activator="{ on }">
            <v-btn color="primary" dark class="mb-2" v-on="on">Créer métrique</v-btn>
        </template>
        <v-card>
            <v-card-title>
                <span class="headline">Créer une métrique</span>
            </v-card-title>
            <v-card-text>
                <v-container>
                    <v-row>
                        <v-text-field v-model="newMetric.alias" label="Nom"/>
                    </v-row>
                </v-container>
            </v-card-text>
            <v-card-actions>
                <v-spacer/>
                <v-btn color="blue darken-1" text @click="close">Annuler</v-btn>
                <v-btn color="blue darken-1" text @click="save">Valider</v-btn>
            </v-card-actions>
        </v-card>
    </v-dialog>
</template>

<script>
    export default {
        name: "AddMetric",
        data: () => ({
            dialog: false,
        }),
        computed: {
            newMetric() {
                return this.$store.getters['metric/newMetric'];
            }
        },
        created(){
            this.unsubscribe = this.$store.subscribe( (mutation) => {
                mutation.type === 'metric/ADD_METRIC' && this.close();
            });
        },
        methods: {
            save() {
                this.newMetric.provenance = "Custom";
                this.newMetric.unite = "%";
                this.$store.dispatch('metric/save');
            },
            close() {
                this.$store.dispatch('metric/clearForm');
                this.unsubscribe();
                this.dialog = false;
            }
        }
    }
</script>

<style scoped>

</style>