<template>
    <v-dialog v-model="dialog" max-width="800px">
        <template v-slot:activator="{ on }" >
            <v-btn color="primary" dark class="mb-2" v-on="on">Nouvelle Note</v-btn>
        </template>
        <v-card>
            <v-card-title>
                <span class="headline">Générer une note</span>
            </v-card-title>

            <v-form>
            <v-card-text>
                <v-container grid-list-md text-xs-center>
                    <v-list dense>
                        <v-subheader>Métriques :</v-subheader>
                        <v-list-item v-if="metrics.length === 0">
                            Aucune métrique affecté à la notation.
                        </v-list-item>
                        <v-list-item-group color="primary">
                            <v-list-item v-for="metric in metrics" :key="metric.id">
                                <v-layout row wrap>
                                    <v-flex xs5>
                                <v-list-item-content>
                                    <v-list-item-title v-text="metric.alias"/>
                                    <v-list-item-subtitle v-text="metric.provenance"/>
                                    <v-list-item-subtitle v-if="metric.unite === '/'" v-text="`rang de 1 à ${metric.valeurComparaison}`"/>
                                </v-list-item-content>
                                    </v-flex>
                                    <v-flex xs2>
                                        <v-list-item-action>
                                            <v-text-field style="width: 100px" v-model="metric.poids" label="Poids" outlined type="number"/>
                                        </v-list-item-action>
                                    </v-flex>
                                    <v-flex xs2>
                                <v-list-item-action>
                                    <v-text-field style="width: 100px" v-if="metric.provenance === 'Custom'" outlined v-model="metric.valeur" label="Valeur" type="number"/>
                                    <v-text-field style="width: 100px" v-else v-model="metric.valeur" label="Valeur" outlined type="number" disabled/>
                                </v-list-item-action>
                                    </v-flex>
                                    <v-flex xs2>
                                <v-list-item-action >
                                    <v-text-field v-if="metric.unite === 'min'" style="width: 100px" v-model="metric.valeurComparaison" label="nb min" outlined type="number" required :rules="[v => !!v || 'required']"/>
                                    <v-text-field v-if="metric.unite === 'max'" style="width: 100px" v-model="metric.valeurComparaison" label="nb max" outlined type="number" required :rules="[v => !!v || 'required']"/>
                                </v-list-item-action>
                                    </v-flex>
                                    <v-flex xs1>
                                <v-list-item-action>
                                    <v-icon v-if="metric.provenance === 'Custom'" small @click="deleteItem(metric)">mdi-delete</v-icon>
                                </v-list-item-action>
                                    </v-flex>
                                </v-layout>
                            </v-list-item>
                        </v-list-item-group>
                    </v-list>
                </v-container>
            </v-card-text>
            </v-form>
            <v-card-actions>
                <v-col xs="3">
                <AddMetric/>
                </v-col>
                <v-col xs="3">
                    <v-text-field style="width: 100px !important" v-model="note.noteTotal" label="Note" outlined disabled type="number"/>
                </v-col>
                <v-col xs="2">
                    <div v-if="loading">
                        <v-progress-circular
                                indeterminate
                                color="primary"/>
                    </div>
                    <div v-else>
                    <v-btn  color="blue darken-1" text @click="save(analyseId)" :disabled="isDisable">Sauvegarder</v-btn>
                    </div>
                </v-col>
                <v-col xs="2">
                    <v-btn color="blue darken-1" text @click="generer" :disabled="isDisable">Génerer</v-btn>
                </v-col>
                <v-col xs="2">
                    <v-btn color="blue darken-1" text @click="close">Annuler</v-btn>
                </v-col>
            </v-card-actions>
        </v-card>
    </v-dialog>
</template>
<script>
    import AddMetric from "./AddMetric";

    export default {
        name: "AddNote",
        components: {AddMetric},
        props: {
            analyseId: {
                type: Number,
                required: true,
            }
        },
        computed: {
            errors() {
                return this.$store.getters['projet/errors'];
            },
            newNote() {
                return this.$store.getters['note/newNote'];
            },
            note() {
                return this.$store.getters['note/note'];
            },
            metrics() {
                return this.$store.getters['metric/metrics'];
            },
            isDisable() {
                console.log("GO");
                for(let i = 0; i < this.metrics.length; i++){
                    if((this.metrics[i].unite === 'min' || this.metrics[i].unite === 'max') &&
                        (!this.metrics[i].poids|| this.metrics[i].poids === 0) &&
                            !this.metrics[i].valeurComparaison){
                        return true;
                    }
                }
                return false;
            }
        },
        data: () => ({
            dialog: false,
            loading: false,
        }),
        watch: {
            dialog(val) {
                val || this.close();
            },
        },
        created() {
            this.initialization();
            this.unsubscribe = this.$store.subscribe((mutation) => {
                mutation.type === 'note/ADD_NOTE' && this.close();
            });
        },
        methods: {
            initialization(){
                this.$store.dispatch('metric/allFromAnalyse', this.analyseId);
            },
            save(id) {
                this.loading = true;
                this.newNote.analyseId = id;
                this.newNote.metrics = this.metrics;
                this.newNote.noteTotal = this.note.noteTotal;
                console.log('form', JSON.stringify(this.newNote));
                this.$store.dispatch('note/save').finally(() => (this.loading = false));
                this.close();
            },
            generer() {
              this.newNote.metrics = this.metrics;
              console.log('form', JSON.stringify(this.newNote));
              this.$store.dispatch('note/genererNote');
            },
            deleteItem(item){
                confirm('SUR ?') &&this.$store.dispatch('metric/delete',item);
            },
            close() {
                this.$store.dispatch('note/clearForm');
                this.unsubscribe();
                this.dialog = false;
            },
        }
    }
</script>

<style scoped>

</style>