<template>
    <v-container>
    <v-subheader>Notes :</v-subheader>
    <v-list-item v-if="notes.length === 0">
        Aucune note pour cette analyse
    </v-list-item>
    <v-list-item v-else>
        <v-list-item-group color="primary">
            <v-list-item v-for="note in notes" :key="note.id">
                <v-list-item-content>
                    <v-list-item-title v-text="note.noteTotal"/>
                </v-list-item-content>
                <v-list-item-action>
                    <v-icon small @click="deleteNote(note)">mdi-delete</v-icon>
                </v-list-item-action>
            </v-list-item>
        </v-list-item-group>
    </v-list-item>
    </v-container>
</template>

<script>
    import NoteService from "../../services/NoteService";

    export default {
        name: "AnalyseNoteListe",
        props: {
            analyseId: {
                type: Number,
                required: true,
            }
        },
        data() {
            return {
                notes: [],
            }
        },
        created() {
            NoteService.getNotesByAnalyse(this.analyseId)
            .then(response => this.notes = response.data);
        },
        methods: {
            deleteNote(note){
                confirm('Voulez vous supprimez définitivtement cette note ?') && this.$store.dispatch('note/delete',note);
            },
        },
    }
</script>

<style scoped>

</style>