<template>
    <v-dialog v-model="dialog" max-width="800px">
        <template v-slot:activator="{ on }" >
            <v-btn color="primary" dark class="mb-2" v-on="on">Voir Notes</v-btn>
        </template>
    <v-card>
        <v-card-title>
            <span class="headline">Liste des notes</span>
        </v-card-title>
        <v-card-text>
                <v-subheader>Analyses :</v-subheader>
                <v-list-item v-if="analyses.length === 0">
                    Aucune analyse pour ce projet.
                </v-list-item>
                <v-list-item-group color="primary">
                    <v-list-item v-for="analyse in analyses" :key="analyse.id">
                                <v-list-item-content>
                                    <v-list-item-title v-text="analyse.name"/>
                                </v-list-item-content>
                                <v-list-item-content>
                                    <AnalyseNoteListe :analyseId="analyse.id"/>
                                </v-list-item-content>
                    </v-list-item>
                </v-list-item-group>
        </v-card-text>
    </v-card>
    </v-dialog>
</template>

<script>
    import AnalyseNoteListe from "./AnalyseNoteListe";
    export default {
        name: "ProjetAnalyseNoteListe",
        components: {AnalyseNoteListe},
        props: {
            projetId: {
                type: Number,
                required: true,
            }
        },
        computed: {
            analyses() {
                return this.$store.getters['analyse/analyses'];
            },
        },
        data: () => ({
            dialog: false,
        }),
        watch: {
            dialog(val) {
                val || this.close();
            },
        },
        created() {
            this.initialization();
        },
        methods: {
            initialization(){
                this.$store.dispatch('analyse/allByProjet',this.projetId);
            },
            close() {
                this.dialog = false;
            },
        }
    }
</script>

<style scoped>

</style>