<template>
    <v-dialog v-model="dialog" max-width="500px">
        <template v-slot:activator="{ on }">
            <v-btn color="primary" dark class="mb-2" v-on="on">Nouvelle analyse</v-btn>
        </template>
        <v-card>
            <v-card-title>
                <span class="headline">Créer une analyse</span>
            </v-card-title>

            <v-card-text>
                <v-container>
                    <v-row>
                        <v-text-field v-model="newAnalyse.name" label="Nom"></v-text-field>
                    </v-row>
                    <v-row>
                        <v-select
                                :items="branches"
                                label="Sélectionnez une branche"
                                v-model="newAnalyse.branche"
                                return-object
                        ></v-select>
                    </v-row>
                    <v-row>
                        <v-select
                                :items="buildsForms"
                                label="Sélectionnez une configuration"
                                item-value="name"
                                v-model="newAnalyse.build.name"
                                item-text="name"
                        ></v-select>
                    </v-row>
                    <v-row v-if="newAnalyse.build.name">
                        <v-text-field v-model="newAnalyse.build.command"  :hint="'Default :' +  getBuildCommand(newAnalyse.build.name)" persistent-hint label="Commande"></v-text-field>
                    </v-row>
                    <v-row v-if="newAnalyse.build.name">
                        <v-combobox
                                v-model="newAnalyse.build.params"
                                :items="getBuildParam(newAnalyse.build.name)"
                                label="Choisissez ou ajouter une configuration"
                                multiple
                        ></v-combobox>
                    </v-row>
                </v-container>
            </v-card-text>
            <v-card-actions>
                <v-spacer></v-spacer>
                <v-btn color="blue darken-1" text @click="close">Annuler</v-btn>
                <div v-if="loading">
                    <v-progress-circular
                            indeterminate
                            color="primary"/>
                </div>
                <div v-else>
                <v-btn color="blue darken-1" text @click="save(projetId,gitRepoName,gitProvider)">Valider</v-btn>
                </div>
            </v-card-actions>
            <div v-if="analyse">
                {{analyse}}
            </div>
        </v-card>
    </v-dialog>
</template>

<script>
    import IntegrationService from "../../services/IntegrationService";
    import UserService from "../../services/UserService";

    export default {
        name: "AddAnalyse",
        props: {
            projetId: {
                type: Number,
                required: true,
            },
            gitRepoName: {
                type: String,
                required: true,
            },
            gitProvider: {
                type: String,
                required: true,
            },
        },
        computed: {
            newAnalyse() {
                return this.$store.getters['analyse/newAnalyse'];
            },
            analyse(){
                return this.$store.getters['analyse/analyse'];
            },
        },
        data: () => ({
            buildsForms: [],
            branches: [],
            dialog: false,
            loading: false,
        }),
        watch: {
            dialog(val) {
                val || this.close()
            },
        },
        created() {
            this.getBuildsForm();
            this.getGithubBranch(this.gitRepoName);
        },
        methods: {
            async getBuildsForm() {
                await IntegrationService.getAllBuildTools()
                    .then(response => this.buildsForms = response.data)
                    .catch(error => {
                        console.error(error);
                    })
            },
            async getGithubBranch(name){
              await UserService.GetBranchesGithub(name)
                .then(response => this.branches = response.data)
                .catch(error => {
                    console.log(error);
                })
            },
            save(id,gitRepoName,gitProvider) { // On met l'id en paramètre car vue ne veut pas directement affecter la valeur de la props
                this.loading = true;
                this.newAnalyse.projetId = id;
                this.newAnalyse.repository = 'https://' + gitProvider + '.com/' + gitRepoName + '.git';
                console.log('form', JSON.stringify(this.newAnalyse));
                this.$store.dispatch('analyse/save').finally(() => (this.loading = false));
                this.close()
            },
            getBuildParam(name){
                let param = [];
                console.log(name);
                this.buildsForms.filter(obj => obj.name = name)
                    .forEach(build => {
                        build.param.forEach(p => param.push(p))
                    });
                return param;
            },
            getBuildCommand(name){
                return this.buildsForms.find(obj => obj.name === name).command
            },
            close() {
                this.$store.dispatch('analyse/clearForm');
                this.dialog = false;
                this.branches = [];
            },
        }
    }
</script>

<style scoped>

</style>