<template>
    <v-form ref="form" v-model="valid" lazy-validation>
        <v-text-field v-model="newAnalyse.name" :rules="nameRules" label="Name" required />
        <v-text-field v-model="newAnalyse.repository" :rules="repositoryRules" label="Url Repository" required />
        <v-text-field v-model="newAnalyse.commande" :rules="commandeRules" label="Commande" required />
        <div v-if="loading">
            <v-progress-circular
                    indeterminate
                    color="primary"/>
        </div>
        <div v-else>
            <v-btn color="blue darken-1" text @click="save">Lancer Analyse</v-btn>
        </div>
        <div v-if="analyse">
        {{analyse}}
        </div>
    </v-form>
</template>

<script>
    export default {
        name: "AnalyseComponent",
        data: () => ({
            valid: true,
            nameRules: v => !!v || 'Name is required',
            repositoryRules: v => !!v || 'Repository is required',
            commandeRules: v => !!v || 'Repository is required',
            loading: false,
        }),
        computed: {
            newAnalyse(){
                return this.$store.getters['analyse/newAnalyse'];
            },
            analyse(){
                return this.$store.getters['analyse/analyse'];
            }
        },
        methods: {
          save(){
              this.loading = true;
              this.$store.dispatch('analyse/save').finally(() => (this.loading = false));
          }
        },
    }
</script>
<style scoped>

</style>
