<template>
    <v-expansion-panels>
        <v-expansion-panel
                v-for="analyse in analyses"
                :key="analyse.id"
        >
            <v-expansion-panel-header>
                <v-container>
                    <v-row>
                        <v-col>
                            {{ analyse.name }}
                        </v-col>
                        <v-col>
                            Branche : {{analyse.branche}}
                        </v-col>
                        <v-col>
                            Lancé le : {{new Date(analyse.dateLancement).toLocaleDateString()}}
                        </v-col>
                        <v-col>
                            Status : {{ getStatus(analyse)}}
                        </v-col>
                        <v-col v-if="!analyse.end">
                                <v-progress-circular
                                        indeterminate
                                        color="primary"/>
                        </v-col>
                        <v-col v-if="analyse.end">
                            <v-btn icon color="green" @click="rebuild(analyse)">
                                <v-icon>mdi-cached</v-icon>
                            </v-btn>
                        </v-col>
                        <v-col v-if="analyse.end">
                            <AddNote :analyseId="analyse.id"/>
                        </v-col>
                    </v-row>
                </v-container>
            </v-expansion-panel-header>
            <v-expansion-panel-content>
                <p v-if="analyse.end"> <span v-html="analyse.output" /></p>
            </v-expansion-panel-content>
        </v-expansion-panel>
    </v-expansion-panels>
</template>

<script>
    import IntegrationService from "../../services/IntegrationService";
    import AddNote from "../notation/AddNote";

    export default {
        name: "ProjetAnalyseList",
        components: {AddNote},
        props: {
            projetId: {
                type: Number,
                required: true,
            },
        },
        data: () => ({
            status: ''
        }),
        computed: {
            analyses() {
                return this.$store.getters['analyse/analyses']
            }
        },
        created() {
            this.initialization();
        },
        methods: {
            initialization() {
                this.$store.dispatch('analyse/allByProjet', this.projetId);
            },
            getStatus(item) {
                if (item.end) return this.analyses.find(obj => obj.id === item.id).resultat;
                for (; ;) {
                    if (this.analyses.find(obj => obj.id === item.id).end) break;
                    this.$store.dispatch('analyse/allByProjet', this.projetId);
                    return this.analyses.find(obj => obj.id === item.id).resultat;
                }
            },
            sleep(milliseconds) {
                const date = Date.now();
                let currentDate = null;
                do {
                    currentDate = Date.now();
                } while (currentDate - date < milliseconds);
            },
            async rebuild(item){
                await IntegrationService.rebuildAnalyse(item.id)
                    .then(() => {
                        this.$store.dispatch('analyse/allByProjet', this.projetId);
                        this.getStatus(item);
                    })
                .catch(error => {
                    console.error(error);
                })
            }

        },
    }
</script>

<style scoped>

</style>