<template>
    <v-dialog persistent v-model="dialog" max-width="500px">
        <template v-slot:activator="{ on }">
            <v-btn color="primary" dark class="mb-2" v-on="on" @click="getRoles">Créer utilisateur</v-btn>
        </template>
        <v-card>
            <v-card-title>
                <span class="headline">Créer un utilisateur</span>
            </v-card-title>

            <v-card-text>
                <v-container>
                    <v-alert type="error" v-if="errors && errors.length > 0">
                        <ul v-for="error in errors" :key="error">
                            <li>
                                {{ error }}
                            </li>
                        </ul>
                    </v-alert> 

                    <v-row>
                        <v-col cols="12" sm="6" md="4">
                            <v-text-field v-model="newUser.username" label="Username"></v-text-field>
                        </v-col>
                        <v-col cols="12" sm="6" md="4">
                            <v-text-field v-model="newUser.nom" label="Nom"></v-text-field>
                        </v-col>
                        <v-col cols="12" sm="6" md="4">
                            <v-text-field v-model="newUser.prenom" label="Prenom"></v-text-field>
                        </v-col>
                        <v-col>
                            <v-select
                                    :items="roles"
                                    v-model="newUser.roles"
                                    label="Sélectionnez des roles"
                                    multiple
                            ></v-select>
                        </v-col>
                        <v-col cols="12" sm="6" md="4">
                            <v-text-field v-model="newUser.email" label="email"></v-text-field>
                        </v-col>
                    </v-row>
                </v-container>
            </v-card-text>
            <v-card-actions>
                <v-spacer></v-spacer>
                <v-btn color="blue darken-1" text @click="close">Cancel</v-btn>
                <v-btn color="blue darken-1" text @click="save">Save</v-btn>
            </v-card-actions>
        </v-card>
    </v-dialog>
</template>

<script>
    import UserService from "../../services/UserService";

    export default {
        name: "AddUser",
        data: () => ({
            dialog: false,
            roles: []
        }),
        
        computed:{
            newUser(){
                return this.$store.getters['user/newUser'];
            },
            errors() {
                return this.$store.getters['user/errors'];
            },
        },

        created() {
            this.unsubscribe = this.$store.subscribe((mutation) => {
                mutation.type === 'user/ADD_USER' && this.close();
            }); 
        },

        methods: {
            save () {
                this.$store.dispatch('user/save');
            },
            close () {
                this.$store.dispatch('user/clearForm');
                this.dialog = false;
            },
            getRoles(){
                UserService.getRoles()
                    .then(response => this.roles = response.data)
                    .catch(error => console.error(error));
            }
        }
    }
</script>

<style scoped>

</style>