<template>
    <v-dialog persistent v-model="dialog" max-width="500px">
        <template v-slot:activator="{ on }">
            <v-icon
                    small
                    v-on="on"
                    class="mr-2"
                    @click="editItem(item)"
            >
                mdi-pencil
            </v-icon>
        </template>

        <v-card>
            <v-card-title>
                <span class="headline">Modifier {{item.username}}</span>
            </v-card-title>

            <v-card-text>
                <v-container>
                    <v-alert type="error" v-if="errors && errors.length > 0">
                        <ul v-for="error in errors" :key="error">
                            <li>
                                {{ error }}
                            </li>
                        </ul>
                    </v-alert> 
                    <v-row>
                        <v-col cols="12" sm="6" md="4">
                            <v-text-field v-model="newUser.username" label="Username"></v-text-field>
                        </v-col>
                        <v-col>
                            <v-select
                                    :items="roles"
                                    v-model="newUser.roles"
                                    label="Sélectionnez des roles"
                                    multiple
                            ></v-select>
                        </v-col>
                        <v-col cols="12" sm="6" md="4">
                            <v-text-field v-model="newUser.nom" label="Nom"></v-text-field>
                        </v-col>
                        <v-col cols="12" sm="6" md="4">
                            <v-text-field v-model="newUser.prenom" label="Prenom"></v-text-field>
                        </v-col>
                        <v-col cols="12" sm="6" md="4">
                            <v-text-field v-model="newUser.email" label="email"></v-text-field>
                        </v-col>
                    </v-row>
                </v-container>
            </v-card-text>
            <v-card-actions>
                <v-spacer></v-spacer>
                <v-btn color="blue darken-1" text @click="close">Cancel</v-btn>
                <v-btn color="blue darken-1" text @click="updateItem">Save</v-btn>
            </v-card-actions>
        </v-card>
    </v-dialog>
</template>

<script>
    import UserService from "../../services/UserService";

    export default {
        name: "EditUser",
        props: {
            item: {
                type: Object,
                required: true,
            }
        },
        data: () => ({
            dialog: false,
            roles: []
        }),
        
        computed:{
            newUser(){
                return this.$store.getters['user/newUser'];
            },
            errors() {
                return this.$store.getters['user/errors'];
            },
        },

        created() {
            this.unsubscribe = this.$store.subscribe((mutation) => {
                (mutation.type === 'user/UPDATE_USER') && this.close();
            }); 
        },

        methods: {
            editItem (item) {
                // TODO faire update UserCrud
                this.newUser.roles = []; //ne pas enlever
                this.getRoles();
                this.newUser.id = item.id;
                this.newUser.username = item.username;
                this.newUser.email = item.email;
                this.newUser.nom = item.nom;
                this.newUser.prenom = item.prenom;
                item.roles.forEach(role => this.newUser.roles.push(role))
                this.dialog = true;
            },
            updateItem(){
                if(this.newUser) this.$store.dispatch('user/update')
            },
            getRoles(){
                UserService.getRoles()
                    .then(response => this.roles = response.data)
                    .catch(error => console.error(error));
            },
            close () {
                this.$store.dispatch('user/all'); // impossible de mettre à jours les rôles autrement
                this.$store.dispatch('user/clearForm');
                this.dialog = false;
            },
        }
    }
</script>

<style scoped>

</style>