<template>
    <v-container>
        <v-row>
            <v-col cols="12" md="12">
                <AnalyseComponent></AnalyseComponent>
            </v-col>
        </v-row>
    </v-container>

</template>

<script>
    import AnalyseComponent from "../components/analyses/AnalyseComponent";

    export default {
        name: "Analyse",
        components: {AnalyseComponent}
    }
</script>

<style scoped>

</style>