<template>
    <v-container>
        <v-row>
            <v-col cols="12" md="12">
                <GroupCrud></GroupCrud>
            </v-col>
        </v-row>
    </v-container>

</template>

<script>
    import GroupCrud from "../components/groups/GroupCrud";

    export default {
        name: "Groups",
        components: {GroupCrud}
    }
</script>

<style scoped>

</style>