<template>
    <v-container>
        <v-row>
            <v-col cols="12" md="12">
                <ProfileComponent></ProfileComponent>
            </v-col>
        </v-row>
    </v-container>
</template>

<script>
    import ProfileComponent from "../components/home/ProfileComponent";
    export default {
        name: "Profile",
        components: {ProfileComponent}
    }
</script>

<style scoped>

</style>