<template>
    <ProjetListUser :user-id="profile.id"></ProjetListUser>
</template>

<script>
    import ProjetListUser from "../components/projets/ProjetListUser";
    export default {
        name: "Projets",
        components: {ProjetListUser},
        computed: {
            profile(){
                return this.$store.getters['profile/profile']
            }
        }
    }
</script>

<style scoped>

</style>