<template>
    <v-container>
        <v-row>
            <v-col cols="12" md="12">
                {{link}}
                {{repos}}
                <UserCrud></UserCrud>
            </v-col>
        </v-row>
    </v-container>

</template>

<script>
    import UserCrud from "../components/users/UserCrud";
    import UserService from "../services/UserService";

    export default {
        name: "Users",
        components: {UserCrud},
        data: () => ({
           repos:[],
           link:''
        }),
        created() {
            this.getLink();
            this.getRepos();
        },
        methods: {
            async getRepos(){
                 return await UserService.getRepos()
                .then(response => this.repos = response.data)
            },
            async getLink(){
                return await UserService.getLinkSynchro()
                .then(response => this.link = response.data);
            }
        }
    }
</script>

<style scoped>

</style>