<template>
    <v-dialog persistent v-model="dialog" max-width="500px">
        <template v-slot:activator="{ on }">
            <v-btn color="primary" dark class="mb-2" @click="initialize()" v-on="on">Créer un projet</v-btn>
        </template>
        <v-card>
            <v-card-title>
                <span class="headline">Créer un projet</span>
            </v-card-title>

            <v-card-text>
                <v-container>
                    <v-row>
                    <v-alert type="error" v-if="errors && errors.length > 0">
                        <ul v-for="error in errors" :key="error">
                            <li>
                                {{ error }}
                            </li>
                        </ul>
                    </v-alert>
                    </v-row>
                    <v-row>
                        <v-text-field v-model="newProjet.nomProjet" label="Nom"></v-text-field>
                    </v-row>
                    <v-row v-if="profile.github">
                        <v-select
                                :items="githubRepo"
                                v-model="newProjet.gitRepoName"
                                label="Sélectionnez un repertoire"
                                item-value="name"
                                item-text="name"
                        ></v-select>
                    </v-row>
                </v-container>
            </v-card-text>
            <v-card-actions>
                <v-spacer></v-spacer>
                <v-btn color="primary" text @click="close">Annuler</v-btn>
                <v-btn color="primary" text @click="save(groupeId)">Valider</v-btn>
            </v-card-actions>
        </v-card>
    </v-dialog>
</template>

<script>
    import UserService from "../../services/UserService";

    export default {
        name: "AddProjet",
        props: {
            groupeId: {
                type: Number,
                required: true,
            },
        },
        data: () => ({
            dialog: false,
            githubRepo: []
        }),

        computed:{
            errors() {
                return this.$store.getters['projet/errors'];
            },
            newProjet() {
                return this.$store.getters['projet/newProjet'];
            },
            profile(){
                return this.$store.getters['profile/profile'];
            }
        },

        created() {
            this.initialize();
            this.unsubscribe = this.$store.subscribe((mutation) => {
                mutation.type === 'projet/ADD_PROJET' && this.close();
            }); 
        },

        methods: {
            initialize() {
                if(this.profile.github) {
                    UserService.getReposGithub()
                        .then(response => {
                            this.githubRepo = response.data
                        });
                }
            },
            save(id) { // On met l'id en paramètre car vue ne veut pas directement affecter la valeur de la props
                if(this.profile.github) this.newProjet.gitProvider = "github"
                this.newProjet.groupeId = id;
                this.$store.dispatch('projet/save');
            },
            close() {
                this.$store.dispatch('projet/clearForm');
                this.unsubscribe();
                this.dialog = false;
            },
        }
    }
</script>

<style scoped>

</style>