<template>
    <v-data-table
            :headers="headers"
            :items="projets"
            :items-per-page="5"
            class="elevation-1"
    >
    </v-data-table>
</template>

<script>
    export default {
        name: "ProjetListUser",
        props: {
            userId: {
                type: String,
                required: true,
            },
        },
        data: () => ({
            headers: [
                {
                    text: 'Nom',
                    align: 'start',
                    sortable: false,
                    value: 'nomProjet',
                },
                { text: 'Groupe', value: 'nomGroupe' },
            ],
        }),
        computed: {
            projets(){
                return this.$store.getters['projet/projets'];
            }
        },
        methods: {
            initialize(){
                this.$store.dispatch('projet/allByUser', this.userId);
            }
        }
    }
</script>

<style scoped>

</style>