<template>
    <v-app id="inspire">
        <v-navigation-drawer
                v-model="drawer"
                app
        >
            <v-img  src="./assets/parisnanterre.png"></v-img>
            <v-list-item>
                <v-list-item-content>
                    <v-list-item-title class="title">Korector</v-list-item-title>
                    <v-list-item-subtitle>
                        MIAGE
                    </v-list-item-subtitle>
                    <v-list-item-subtitle>
                        {{this.profile.username}}
                    </v-list-item-subtitle>
                    <v-list-item-subtitle>
                        {{this.profile.lastName + ' ' + this.profile.firstName}}
                    </v-list-item-subtitle>
                </v-list-item-content>
            </v-list-item>
                <v-divider></v-divider>
            <v-list dense nav>
            <router-link to="/" tag="span" class="routerLink">
                <v-list-item link>
                    <v-list-item-action>
                            <v-icon>mdi-home</v-icon>
                    </v-list-item-action>
                    <v-list-item-content>
                            <v-list-item-title>Accueil</v-list-item-title>
                    </v-list-item-content>
                </v-list-item>
                </router-link>
                <router-link to="/profile" class="routerLink">
                <v-list-item link>
                    <v-list-item-action>
                            <v-icon>mdi-account</v-icon>
                    </v-list-item-action>
                    <v-list-item-content>
                            <v-list-item-title>Profile</v-list-item-title>
                    </v-list-item-content>
                </v-list-item>
                </router-link>

                <router-link v-if="profile.roles.includes('ROLE_ADMIN')" to="/users" class="routerLink">
                <v-list-item link>
                    <v-list-item-action>
                            <v-icon>mdi-account-group</v-icon>
                    </v-list-item-action>
                    <v-list-item-content>
                            <v-list-item-title>Utilisateurs</v-list-item-title>
                    </v-list-item-content>
                </v-list-item>
                </router-link>
                <router-link to="/projets" class="routerLink">
                <v-list-item link>
                    <v-list-item-action>
                            <v-icon>mdi-source-repository-multiple</v-icon>
                    </v-list-item-action>
                    <v-list-item-content>
                            <v-list-item-title>Mes projets</v-list-item-title>
                    </v-list-item-content>
                </v-list-item>
                </router-link>
                <v-list-item link @click="logout">
                    <v-list-item-action>
                        <v-icon>mdi-source-repository-multiple</v-icon>
                    </v-list-item-action>
                    <v-list-item-content>
                        <v-list-item-title>Déconnexion</v-list-item-title>
                    </v-list-item-content>
                </v-list-item>
            </v-list>
        </v-navigation-drawer>

        <v-app-bar
                app
                color="#D32F2F"
                dark
        >
            <v-app-bar-nav-icon @click.stop="drawer = !drawer"/>
            <v-toolbar-title>Korector-Application</v-toolbar-title>
        </v-app-bar>

        <v-content>
            <v-container
                    class="fill-height"
                    fluid
            >
                <router-view/>
            </v-container>
        </v-content>
        <v-footer
                color="#D32F2F"
                app
        >
            <span class="white--text">Paris Nanterre &copy; 2020</span>
        </v-footer>
    </v-app>
</template>

<script>
    import axios from "axios";

    export default {
        name: 'App',
        data: () => ({
            drawer: false,
        }),
        created() {
            this.$store.dispatch('profile/loadProfile')
        },
        computed: {
            profile(){
                return this.$store.getters['profile/profile']
            }
        },
        components: {},
        methods: {
            login() {
                window.location.href = 'http://13.69.75.86:8081/private';
            },
            logout() {
                let port = (window.location.port ? ':' + window.location.port : '');
                axios.post('/logout')
                window.location.href = '//' + window.location.hostname + port + '/'
            },
        },

    };
</script>

<style>
    a {  text-decoration: none;}
</style>
