<template>
    <v-card
            class="mx-auto"
            max-width="800"
    >
        <v-card-title>Profile</v-card-title>

        <v-card-text>
            <v-container>
                <v-row>
                    <v-text-field v-model="profile.username" label="Username" disabled></v-text-field>
                </v-row>
                <v-row>
                    <v-text-field v-model="profile.lastName" label="Nom" disabled></v-text-field>
                </v-row>
                <v-row>
                    <v-text-field v-model="profile.firstName" label="Prénom" disabled></v-text-field>
                </v-row>
                <v-row>
                    <v-text-field v-model="profile.email" label="Email" disabled></v-text-field>
                </v-row>
                <v-row>
                <v-divider></v-divider>
                </v-row>
                <v-row>
                    <div></div>
                    <h4>Synchronisation Github</h4>
                </v-row>
                <v-row v-if="!profile.github">
                    <v-btn @click="redirectGithub">Synchroniser</v-btn>
                </v-row>
                <v-row v-if="profile.github">
                    <v-card
                            class="mx-auto"
                            max-width="344"
                            outlined
                    >
                        <v-list-item three-line>
                            <v-list-item-content>
                                <div class="overline mb-4">Connexion valide</div>
                                <v-list-item-title class="headline mb-1">{{profile.githubUsername}}</v-list-item-title>
                            </v-list-item-content>

                            <v-list-item-avatar
                                    tile
                                    size="80"
                                    color="grey"
                            >  <v-img
                                    :src="profile.avatarUrl"
                                    height="300px"
                                    dark
                            ></v-img></v-list-item-avatar>
                        </v-list-item>
                    </v-card>
                </v-row>
            </v-container>
        </v-card-text>
    </v-card>
</template>

<script>
    import ProfileService from "../../services/ProfileService";

    export default {
        name: "ProfileComponent",
        computed: {
            profile(){
                return this.$store.getters['profile/profile']
            }
        },
        methods: {
            redirectGithub(){
                ProfileService.getUserGithubLink()
                .then(response => window.location.href = response.data)
            }
        }
    }
</script>

<style scoped>

</style>