<template>
    <v-dialog persistent v-model="dialog" max-width="500px">
        <template v-slot:activator="{ on }">
            <v-btn color="primary" dark class="mb-2" v-on="on" @click="getManager">Créer un groupe</v-btn>
        </template>
        <v-card>
            <v-card-title>
                <span class="headline">Créer un groupe</span>
            </v-card-title>
            <v-card-text>
                <v-container>
                    <v-alert type="error" v-if="errors && errors.length > 0">
                        <ul v-for="error in errors" :key="error">
                            <li>
                                {{ error }}
                            </li>
                        </ul>
                    </v-alert>

                    <v-row>
                        <v-text-field v-model="newGroup.nom" label="Nom"></v-text-field>
                    </v-row>
                    <v-row>
                        <v-text-field outlined v-model="newGroup.description" label="Description"></v-text-field>
                    </v-row>
                    <v-row>
                        <v-autocomplete
                                v-model="newGroup.managers"
                                :items="managers"
                                multiple
                                return-object
                                item-text="username"
                                dense
                                filled
                                label="Managers"
                        >
                            <template v-slot:selection="data">
                                <v-chip
                                        v-bind="data.attrs"
                                        :input-value="data.selected"
                                        close
                                        @click="data.select"
                                        @click:close="removeManager(data.item)"
                                >
                                
                                    <div v-if="data.item.nom && data.item.prenom">
                                        {{ data.item.nom + ' ' +data.item.prenom }}
                                    </div>
                                    <div v-else>
                                        {{ data.item.username }}
                                    </div>                                     
                                </v-chip>
                            </template>
                        </v-autocomplete>
                    </v-row>
                    <v-row>
                        <v-autocomplete
                                v-model="newGroup.users"
                                :items="users"
                                multiple
                                item-text="username"
                                return-object
                                dense
                                filled
                                label="Utilisateurs"
                        >
                            <template v-slot:selection="data">
                                <v-chip
                                        v-bind="data.attrs"
                                        :input-value="data.selected"
                                        close
                                        @click="data.select"
                                        @click:close="remove(data.item)"
                                >
                                    <div v-if="data.item.nom && data.item.prenom">
                                        {{ data.item.nom + ' ' +data.item.prenom }}
                                    </div>
                                    <div v-else>
                                        {{ data.item.username }}
                                    </div>                                
                                </v-chip>
                            </template>
                        </v-autocomplete>
                    </v-row>
                </v-container>
            </v-card-text>
            <v-card-actions>
                <v-spacer></v-spacer>
                <v-btn color="blue darken-1" text @click="close">Annuler</v-btn>
                <v-btn color="blue darken-1" text @click="save">Valider</v-btn>
            </v-card-actions>
        </v-card>
    </v-dialog>
</template>

<script>
    import UserService from "../../services/UserService";

    export default {
        name: "AddGroup",

        data: () => ({
            dialog: false,
            managers: []
        }),

        computed: {
            errors() {
                return this.$store.getters['group/errors'];
            },
            newGroup() {
                return this.$store.getters['group/newGroup'];
            },
            users() {
                return this.$store.getters['user/users'];
            },
        },

        created() {
            this.initialize();
            this.unsubscribe = this.$store.subscribe((mutation) => {
                mutation.type === 'group/ADD_GROUP' && this.close();
            });
        },

        methods: {
            initialize() {
                this.$store.dispatch('user/all');
            },
            save() {
                this.$store.dispatch('group/create');
            },
            close() {
                this.$store.dispatch('group/clearForm');
                this.dialog = false;
            },
            remove(item) {
                this.$store.dispatch('group/removeUserGroupForm', item);
            },
            removeManager(item) {
                this.$store.dispatch('group/removeManagerGroupForm', item);
            },
            async getManager() {
                await UserService.getManagers()
                    .then(response => this.managers = response.data)
                    .catch(error => console.error(error));
            }
        }
    }
</script>

<style scoped>

</style>