<template>
    <v-container fluid>
        <v-row>
            <v-col>
            <!-- Formulaire d'ajout de projet -->
            <AddProjet :groupeId="id"></AddProjet>
            </v-col>
        </v-row>
        <v-row>
            <v-col>
                <!-- Card info groupe -->
                <v-card
                        class="mx-auto"
                        outlined
                >
                    <v-list-item three-line>
                        <v-list-item-content>
                            <div class="overline mb-4">Détails:</div>
                            <v-list-item-title class="headline mb-1">{{group.nom}}</v-list-item-title>
                            <v-list-item-subtitle>{{group.description}}</v-list-item-subtitle>
                        </v-list-item-content>
                    </v-list-item>
                    <v-card-actions>
                        <v-spacer />
                        <EditGroup :item="group" :fetchMembers="false"/>
                    </v-card-actions>
                </v-card>
            </v-col>
            <v-col>
                <!-- Card info membres -->
                <v-card
                        class="mx-auto"
                        tile
                >
                    <v-list dense>
                        <v-subheader>Membres :</v-subheader>
                        <v-list-item v-if="group.users.length === 0">
                             Aucun utilisateur affecté à ce groupe.
                        </v-list-item>
                        <v-list-item-group color="primary">
                            <v-list-item
                                    v-for="(item, i) in group.users"
                                    :key="i"
                            >
                                <v-list-item-content>
                                    <v-list-item-title v-text="item.username"></v-list-item-title>
                                    <v-list-item-subtitle v-if="item.nom && item.prenom" v-text="item.nom + ' ' + item.prenom"></v-list-item-subtitle>
                                </v-list-item-content>
                            </v-list-item>
                        </v-list-item-group>
                    </v-list>
                    <v-card-actions>
                        <v-spacer />
                        <EditGroup :item="group" :fetchMembers="false"/>
                    </v-card-actions>
                </v-card>
            </v-col>
            <v-col>
                <!-- Card info managers -->
                <v-card
                        class="mx-auto"
                        tile
                >
                    <v-list dense>
                        <v-subheader>Managers :</v-subheader>
                        <v-list-item-group color="primary">
                            <v-list-item
                                    v-for="(item, i) in group.managers"
                                    :key="i"
                            >
                               <v-list-item-content>
                                    <v-list-item-title v-text="item.username"></v-list-item-title>
                                    <v-list-item-subtitle v-if="item.nom && item.prenom" v-text="item.nom + ' ' + item.prenom"></v-list-item-subtitle>
                                </v-list-item-content>
                            </v-list-item>
                        </v-list-item-group>
                    </v-list>
                </v-card>
            </v-col>
        </v-row>
        <v-row>
            <!-- tabs projets -->
            <v-col cols="12" md="12">
                <v-expansion-panels>
                    <v-expansion-panel
                            v-for="item in projets"
                            :key="item.id"
                            @click="getProjet(item.id)"
                    >
                        <v-expansion-panel-header @click="getProjet(item.id)">{{item.nomProjet}}</v-expansion-panel-header>
                        <v-expansion-panel-content v-if="projet">
                            <v-card :loading="cardLoading">
                                <v-container v-if="projet.nomProjet = item.nomProjet" fluid>
                                    <v-row>
                                        <v-col lg="10">
                                        Url git : {{ projet.gitRepoName }}
                                        </v-col>
                                        <v-col v-if="projet.id" lg="2">
                                            <ProjetAnalyseNoteListe :projetId="projet.id"/>
                                        </v-col>
                                    </v-row>
                                    <v-divider></v-divider>
                                    <v-row v-if="projet.id">
                                        <v-col>
                                        <AddAnalyse :projetId="projet.id" :gitRepoName="projet.gitRepoName" :gitProvider="projet.gitProvider"></AddAnalyse>
                                        </v-col>
                                    </v-row>
                                    <v-row v-if="projet.id">
                                        <v-col>
                                        <ProjetAnalyseList :projetId="projet.id"/>
                                        </v-col>
                                    </v-row>
                                </v-container>
                            </v-card>
                        </v-expansion-panel-content>
                    </v-expansion-panel>
                </v-expansion-panels>

            </v-col>
        </v-row>
    </v-container>
</template>

<script>
    import AddProjet from "../projets/AddProjet";
    import AddAnalyse from "../analyses/AddAnalyse";
    import ProjetAnalyseList from "../analyses/ProjetAnalyseList";
    import EditGroup from "./EditGroup";
    import ProjetAnalyseNoteListe from "../notation/ProjetAnalyseNoteListe";
    export default {
        name: "GroupDetail",
        components: {ProjetAnalyseList, AddAnalyse, AddProjet, EditGroup,ProjetAnalyseNoteListe},
        props: {
            id: {
                type: Number,
                required: true,
            },
        },
        data: () => ({
           tab: null,
            cardLoading: false
        }),
        computed: {
            group() {
                return this.$store.getters['group/group'];
            },
            projets(){
                return this.$store.getters['projet/projets'];
            },
            projet(){
                return this.$store.getters['projet/projet'];
            }
        },
        created() {
            this.initialize();
            this.unsubscribe = this.$store.subscribe((mutation) => {
                mutation.type === 'group/UPDATE_GROUP' && this.refreshOnUpdate();
            });
        },
        methods: {
            initialize() {
                this.$store.dispatch('group/get', this.id);
                this.$store.dispatch('projet/allByGroupe', this.id);
            },
            getProjet(id){
                this.cardLoading = true
                this.$store.dispatch('projet/getProjet', id);
                this.$store.dispatch('analyse/allByProjet', id);
                if(this.projet) this.cardLoading = false;
            },
            refreshOnUpdate() {
                this.$store.dispatch('group/get', this.id);
            }
        }
    }
</script>

<style scoped>

</style>