
<template>
    <v-container fluid>
      <v-row 
            v-if="profile.roles.includes('ROLE_ADMIN') || 
            profile.roles.includes('ROLE_MANAGER')" 
            justify="end">
            <AddGroup />
      </v-row>

      <v-row dense>
        <v-col
          v-for="group in displayedGroups"
          :key="group.id"
          :cols="4"
        >
       
        <v-card
            class="mx-auto"
            max-width="344"
            v-if="profile.roles.includes('ROLE_ADMIN') || group.users.includes(profile.id) || group.managers.includes(profile.id)"
        >
            <v-card-text>
                <p class="text-muted" v-text="group.nom"/>
                <div class="text--primary" v-text="group.description"/>
            </v-card-text>

            <v-card-actions>
              <v-spacer />
                <v-tooltip bottom>
                    <template v-slot:activator="{ on }">
                        <v-btn icon v-on="on" @click="open(group)"><v-icon>mdi-open-in-app</v-icon></v-btn>
                    </template>
                    <span>Ouvrir</span>
                </v-tooltip>
                <EditGroup :item="group" :fetchMembers="true"/>
                <v-tooltip bottom>
                    <template v-slot:activator="{ on }">
               <v-btn icon
                    @click="deleteItem(group)" v-on="on">
                <v-icon>mdi-delete</v-icon>
              </v-btn>
                    </template>
                    <span>Supprimer</span>
                </v-tooltip>
            </v-card-actions>
          </v-card>
        </v-col>
      </v-row>
      <v-row>
        <div class="clearfix col-md-2 offset-md-5">
                <v-btn icon v-if="page != 1" @click="page--"><v-icon>mdi-arrow-left-bold</v-icon></v-btn>
                <v-btn icon v-for="pageNumber in pages.slice(page-1, page+5)" @click="page = pageNumber" :key="pageNumber"> <v-icon>mdi-numeric-{{pageNumber}}</v-icon></v-btn>
                <v-btn icon @click="page++" v-if="page < pages.length"><v-icon>mdi-arrow-right-bold</v-icon></v-btn>
        </div>
      </v-row>
    </v-container>
</template>

<script>
    import AddGroup from './AddGroup';
    import EditGroup from './EditGroup'

    export default {
        name: "GroupCrud",
        components: {AddGroup,EditGroup},

        data: () => ({
            page: 1,
            perPage: 6,
            pages: [],
        }),

        computed: {
            groups(){
                return this.$store.getters['group/groups'];
            },
            profile(){
                return this.$store.getters['profile/profile']
            },
            displayedGroups() {
                return this.paginate(this.groups);
            }
        },
        created() {
            this.initialize()
        },
        watch: {
            groups() {
                this.setPages();
            }
        },

        methods: {
            initialize() {
                this.$store.dispatch('group/all');
            },
            close(){
                this.$store.dispatch('group/clearForm');
            },
            deleteItem (item) {
                confirm('Voulez vous vraiment supprimer ce groupe ? Cette action est irréversible !') && this.$store.dispatch('group/delete', item);
            },
            open(item){
                this.$router.push({
                    name: 'groupDetail',
                    params: {
                        id: item.id
                    }
                })
            },
            setPages() {
                this.pages = [];
                let numberOfPages = Math.ceil(this.groups.length / this.perPage);
                for (let index = 1; index <= numberOfPages; index++) {
                    this.pages.push(index);
                }
            },
            paginate(groups) {
                let page = this.page;
                let perPage = this.perPage;
                let from = (page * perPage) - perPage;
                let to = (page * perPage);

                return groups.slice(from, to);
            }
        },
    }
</script>

<style scoped>

</style>